<p class="title">Meal Planner</p>
<h2 class="subtitle">Create Food Metric</h2>
<form
  [formGroup]="foodMetricForm"
  (submit)="saveFoodMetric()"> 
  <input 
    type="text" 
    formControlName="name"
    placeholder="Name">
  <input 
    type="text" 
    formControlName="brand"
    placeholder="Brand">
  <input 
    type="number" 
    formControlName="grams"
    placeholder="Grams">
  <input 
    type="number" 
    formControlName="calories"
    placeholder="Calories">
  <button type="submit">Save</button>
</form>
<h2 class="subtitle">Search</h2>
<form [formGroup]="foodSelectForm" (ngSubmit)="addFoodToMeal()">
  <select formControlName="foodId">
    <option [ngValue]="null" disabled>Select Food</option>
    <option *ngFor="let foodMetric of foodMetricsList" [ngValue]="foodMetric.uid">{{foodMetric.name}}</option>
  </select>
  <button type="submit">Add</button>
</form>

<h2 class="subtitle">Meal</h2>
<input type="number" placeholder="Calorie Limit" [(ngModel)]="calorieLimit"><span>calories</span>
<div>
  <div *ngFor="let food of meal">
    <h3>{{food.name}}</h3>
    <input type="number" [(ngModel)]="food.grams"><span> grams ➝ </span>
    <p class="inline">{{food.grams * food.caloriesPerGram | number : '1.2-2'}} calories </p>
    <input type="number" [(ngModel)]="food.mealPercentage" ><span> %</span>
  </div>
  <button (click)="recalculateMealPortions()">Calculate!</button>
</div>